<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /pertamina/
   
    # Redirect index.php to remove it from URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
